#! /bin/sh

. /etc/envvars

exec 2>&1 
set -e

umask 022

PROGARGS="$RIEMANN_PATH_CONF/riemann.config"
PROGHOME="/"
PROGNAME="$RIEMANN_PATH_CONF/riemann-$RIEMANN_VERSION/bin/riemann"

export HOME=/root

export EXTRA_CLASSPATH=/root/riemann-extra/target/riemann-extra-0.2.4.jar

cd  "${PROGHOME}" &&  exec $PROGNAME $PROGARGS
