[supervisord]
nodaemon=true

[program:influxdb]
command=nice ionice -c2 /usr/bin/influxd
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s.log
autorestart=true


[program:riemann]
command=nice ionice -c2 /opt/riemann/riemann-0.2.9/bin/riemann /opt/riemann/riemann.config
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s.log
autorestart=true